<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Row to {{ table_name }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>
<body>
    <h1>Add Row to {{ table_name }}</h1>
<form method="post" action="{{ url_for('add_row', table_name=table_name) }}">
    {% for column in original_cols %}
        {% if not column.endswith('_id') %}
        <label for="{{ column }}">{{ column }}</label>
        {% if 'year' in column.lower() %}
                <input type="text" name="{{ column }}" class="datepicker" required><br>
            {% else %}
                <input type="text" name="{{ column }}" required><br>
        {% endif %}
    {% endif %}
    {% endfor %}

    {% for column, details in foreign_keys.items() %}
        {% if not details['alias'].endswith('_id') %}
        <label for="{{ column }}">{{ details['alias'] }}</label>
        <select name="{{ column }}" required>
            <option value="" disabled selected>Select {{ details['alias'] }}</option>
            {% for i in range(details['options']|length) %}
                <option value="{{ details['options'][i] }}">{{ details['alias_options'][i] }}</option>
            {% endfor %}
        </select><br>
    {% endif %}
    {% endfor %}

    <button type="submit">Add Row</button>
</form>


    <br>
    <a href="{{ url_for('index') }}">Back to List of Tables</a>

    <script>
        // Initialize datepickers for columns with 'year' in their name
        document.addEventListener('DOMContentLoaded', function () {
            var datepickers = document.querySelectorAll('.datepicker');
            datepickers.forEach(function (datepicker) {
                flatpickr(datepicker, {
                    dateFormat: 'Y-m-d',  // Display full date (year-month-day)
                    enableTime: false,
                });
            });
        });
    </script>
</body>
</html>
