<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ table_name }}</title>
</head>
<body>
    <h1>{{ table_name }}</h1>
    <h2>Data:</h2>
    <table border="1">
        <tr>
            {% for col in column_names %}
                <th>{{ col }}</th>
            {% endfor %}
        </tr>
        {% for row in table_data %}
            <tr>
                {% for value in row %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <br>
    <a href="{{ url_for('index') }}">Back to List of Tables</a>

    <!-- Add Row button -->
    <a href="{{ url_for('add_row', table_name=table_name) }}">
        <button>Add Row</button>
    </a>
</body>
</html>
